* {
    font-family: sans-serif;
}

label.field {
    text-align: right;
    width: 200px;
    float: left;
    font-weight: bold;
}

table {

}

.usertbl tr:nth-child(odd) {
    background-color: #EAF1F5;
}

table th {
    background: #00004d;
    color: honeydew;
}

input {
    width: 200px;
    float: left;
}

p {
    position: absolute;
    left: 20px;
}

.votebutton {
    width: 50px;
    height: 50px;
    font-size: large;
}

#top {
    background-color: #00004d;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 70px;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}

header hgroup {
    position: absolute;
    display: block;
    top: -25px;
    left: 20px;
    color: #fff;
}

header h1 {
    position: absolute;
    display: block;
    left: 20px;
    color: #fff;
    top: -25px;
    font-size: 50px;
    font-family: "Lobster", cursive;
    height: 100px;
    width: 610px;
}

nav {
    margin-top: 20px;
    font-weight:bold;
    float: right;
    padding: 0 20px;
    font-size: 16px;
    text-align: right;
    color: #fff;
}

