<!DOCTYPE html>
<html ng-app="PlanningPoker">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <title>Planning Poker</title>

    <script src="clientlibs/angular/angular.js"></script>
    <script src="clientlibs/chart.js/Chart.js"></script>
    <script src="clientlibs/angular-chart/angular-chart.js"></script>
    <script src="clientlibs/sockjs/sockjs.js"></script>
    <script src="clientlibs/stomp-websocket/lib/stomp.js"></script>
    <script src="javascript/app.js"></script>

    <meta name="description" content="Agile Estimation for Distributed Teams">
    <meta name="author" content="Rich Ashworth">
</head>

<body ng-controller="PokerCtrl as poker">

<div id="top">
    <header>
        <h1>planning poker</h1>
        <nav ng-show="inSession">
            <table>
                <tr>
                    <td>
                        <table style="margin-top: 10pt">
                            <tr>
                                <td>{{userName | userNameCaseFilter}}</td>
                            </tr>
                            <tr>
                                <td><i> Session {{sessionId}} </i></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </nav>
    </header>
    <br/>

    <div ng-show="loading">
        <p>
            Loading...
        </p>
    </div>

    <div ng-hide="loading">
        <!--Registration Screen-->
        <div ng-hide="inSession">
            <br>
            <table cellspacing="10">
                <tr>
                    <td>
                        <label class="field"> Please enter your name:</label>
                    </td>
                    <td>
                        <form name="nameEntry">
                            <input type="text" ng-model="userName" required="true" ng-minlength="2"
                                   ng-maxlength="25" maxlength="25" tabindex="1" show-focus="!voted">
                        </form>
                    </td>
                    <td>
                        <button ng-show="nameEntry.$valid" ng-click="createSession()" tabindex="3"
                                ng-disabled="sessionId || sessionId > 0" style="width:190px">
                            Start session as moderator
                        </button>
                    </td>
                </tr>
                <tr ng-show="nameEntry.$valid">
                    <td></td>
                    <td>
                        <input type="number" ng-min="1" placeholder="session ID" ng-model="sessionId" tabindex="1">
                    <td>
                        <button ng-click="joinSession()" style="width:190px" tabindex="2">
                            Join session as participant
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <!--Voting Screen-->
        <div ng-show="inSession && !voted">
            <table cellpadding="20">
                <tr>
                    <td>
                        <table>
                            <tr ng-show="isAdmin">
                                <td>
                                    <form name="itemEntry">
                                        <input type="text" required show-focus="inSession"
                                               placeholder="Item to be estimated (e.g. Jira ID)" ng-model="itemInput">

                                        <button ng-click="setCurrentItem()" type="button"
                                                ng-disabled="itemEntry.$invalid"
                                                style="margin-left: 10pt">
                                            Update
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr ng-show="isAdmin" style="height: 15pt">
                            </tr>
                            <tr>
                                <td>
                                    Please vote on {{currentItem}} using the buttons below:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="20">
                                        <tr>
                                            <td data-ng-repeat="i in legalEstimates">
                                                <button class="votebutton" ng-click="vote(i)">{{i}}</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="100%" align="right" valign="top">
                        <div style="overflow-y: auto; max-height: 35em">
                            <table cellpadding="8" class="regusertbl">
                                <tr>
                                    <th>Registered Users</th>
                                </tr>
                                <tr ng-repeat="user in sessionUsers | orderBy">
                                    <td>{{user | userNameCaseFilter}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!--Results Screen-->
        <div ng-show="voted" style="margin-right: 0">
            <table cellpadding="20">
                <tr>
                    <td>
                        <strong>{{currentItem}}</strong>
                    </td>
                    <td rowspan="4" width="100%" align="right" valign="top">
                        <div style="overflow-y: auto; max-height: 35em">
                            <table cellpadding="8" class="usertbl">
                                <tr>
                                    <th>User</th>
                                    <th>Estimate</th>
                                </tr>
                                <tr ng-repeat="result in votingResults | orderBy: 'estimateValue'">
                                    <td>{{result.userName | userNameCaseFilter}}</td>
                                    <td>{{result.estimateValue}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td rowspan="4" width="100%" align="right" valign="top" ng-show="waitingFor.length > 0">
                        <div style="overflow-y: auto; max-height: 35em">
                            <table cellpadding="8" class="usertbl">
                                <tr>
                                    <th>Not Voted</th>
                                </tr>
                                <tr ng-repeat="user in waitingFor | orderBy">
                                    <td>{{user | userNameCaseFilter}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr valign="top">
                    <td>
                        <canvas id="bar" chart-labels="labels" class="chart chart-bar"
                                chart-data="[resultsdata]" width="575" height="350"
                                chart-options="{
                                  responsive: false,
                                  tooltips: {
                                    enabled: false
                                  },
                                  scales: {
                                    scaleOverride: true,
                                    yAxes: [{
                                      ticks: {
                                        stepSize: 1
                                      }
                                    }],
                                    xAxes: [{
                                      gridLines: {
                                        drawOnChartArea: false
                                      }
                                    }]
                                  }
                                }">
                        </canvas>
                    </td>
                </tr>
                <tr ng-show="isAdmin">
                    <td>
                        <button class="nextbutton" ng-click="reset()" type="button">Next Estimate</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="footer">
    <a target="_blank" href="https://github.com/richashworth/planningpoker" style="text-decoration: none">
        version 1.3.1</a>
</div>

</body>
</html>
