<!DOCTYPE html>
<html ng-app="PlanningPoker">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <title>Planning Poker</title>

    <script src="bower/angular/angular.js"></script>
    <script src="bower/Chart.js/Chart.js"></script>
    <script src="bower/angular-chart/angular-chart.js"></script>
    <script src="bower/sockjs/sockjs.js"></script>
    <script src="bower/stomp-websocket/stomp.min.js"></script>
    <script src="javascript/app.js"></script>

    <meta name="description" content="Agile Estimation for Distributed Teams">
    <meta name="author" content="Rich Ashworth">
</head>

<body ng-controller="PokerCtrl as poker">

<div id="top">
    <header>
        <h1>planning poker</h1>
        <nav ng-show="inSession">
            <table>
                <tr>
                    <td style="text-transform: capitalize">{{userName}}</td>
                </tr>
                <tr>
                    <td><i> Session {{sessionId}} </i></td>
                </tr>
            </table>
        </nav>
    </header>
    <br/>

    <div ng-show="loading">
        <p>
            Loading...
        </p>
    </div>

    <div ng-hide="loading">
        <!--Registration Screen-->
        <div ng-hide="inSession">
            <br>
            <table cellspacing="10">
                <tr>
                    <td>
                        <label class="field"> Please enter your name:</label>
                    </td>
                    <td>
                        <form name="nameEntry">
                            <input autofocus type="text" ng-model="userName" required="true" ng-minlength="2"
                                   ng-maxlength="40" maxlength="50">
                        </form>
                    </td>
                    <td>
                        <button ng-show="nameEntry.$valid" ng-click="createSession()"
                                ng-disabled="sessionId || sessionId > 0" style="width:190px">
                            Start session as moderator
                        </button>
                    </td>
                </tr>
                <tr ng-show="nameEntry.$valid">
                    <td></td>
                    <td>
                        <input type="number" ng-min="1" placeholder="session ID" ng-model="sessionId">
                    <td>
                        <button ng-click="joinSession()" style="width:190px">
                            Join session as participant
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <!--Voting Screen-->
        <div ng-show="inSession && !voted">
            <table cellpadding="20">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    Please vote on the current item using the buttons below:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="20">
                                        <tr>
                                            <td data-ng-repeat="i in legalEstimates">
                                                <button class="votebutton" ng-click="vote(i)">{{i}}</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="100%" align="right" valign="top">
                        <table cellpadding="8" class="regusertbl">
                            <tr>
                                <th>Registered Users</th>
                            </tr>
                            <tr ng-repeat="user in sessionUsers | orderBy">
                                <td>{{user}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <!--Results Screen-->
        <div ng-show="voted" style="margin-right: 0">
            <table cellpadding="20">
                <tr>
                    <td align="top">
                        <canvas id="bar" class="chart chart-bar" chart-data="[resultsdata]"
                                chart-labels="labels" width="575" height="330"></canvas>
                    </td>
                    <td width="100%" align="right" valign="top">
                        <table cellpadding="8" class="usertbl">
                            <tr>
                                <th>User</th>
                                <th>Estimate</th>
                            </tr>
                            <tr ng-repeat="result in votingResults | orderBy: 'estimateValue'">
                                <td>{{result.userName}}</td>
                                <td>{{result.estimateValue}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="100%" align="right" valign="top" ng-show="waitingFor.length > 0">
                        <table cellpadding="8" class="usertbl">
                            <tr>
                                <th>Not Voted</th>
                            </tr>
                            <tr ng-repeat="user in waitingFor | orderBy">
                                <td>{{user}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-show="isAdmin">
                    <td>
                        <button class="nextbutton" ng-click="reset()" type="button">Next Estimate</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>