<!DOCTYPE html>
<html ng-app="PlanningPoker">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <script src="bower/Chart.js/Chart.js"></script>
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-chart/angular-chart.js"></script>
    <script src="bower/angular-poller/angular-poller.min.js"></script>
    <script src="javascript/app.js"></script>

    <script src="bower/sockjs/sockjs.js"></script>
    <script src="bower/stomp-websocket/stomp.min.js"></script>

    <title>Planning Poker</title>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <meta name="description" content="Agile Estimation for Distributed Teams">
    <meta name="author" content="Rich Ashworth">

    <!--<link rel="icon" href="../../favicon.ico">-->
</head>

<body ng-controller="PokerCtrl as poker">

<div id="top">

    <header>
        <h1>planning poker</h1>
        <nav ng-show="inSession">
            <table>
                <tr>
                    <td> {{userName}}</td>
                </tr>
                <tr>
                    <td><i> Session {{sessionId}} </i></td>
                </tr>
            </table>
        </nav>
    </header>
    <br/>

    <div>
        <!--Registration Screen-->
        <div ng-hide="inSession">
            <br>
            <table cellspacing="10">
                <tr>
                    <td>
                        <label class="field"> Please enter your name:</label>
                    </td>
                    <td>
                        <form name="nameEntry">
                            <input autofocus type="text" ng-model="userName" required="true" ng-minlength="2"
                                   ng-maxlength="50" maxlength="50">
                        </form>
                    </td>
                </tr>
                <tr ng-show="nameEntry.$valid">
                    <td>
                    </td>
                    <td>
                        <input type="number" placeholder="session ID" ng-model="sessionId">
                    <td>
                        <button ng-click="joinSession()" ng-disabled="!sessionId || sessionId < 1">Join Session</button>
                    </td>
                    <td>
                        <button ng-click="createSession()" ng-disabled="sessionId || sessionId > 0">Start Session</button>
                    </td>
                </tr>
            </table>
        </div>

        <!--Voting Screen-->
        <div ng-show="inSession">
            <p ng-hide="voted">
                Please vote on the current item using the buttons below:
            </p>
        </div>

        <br> <br>

        <div ng-show="inSession && !voted">
            <p>
            <table cellspacing="20">
                <tr>

                    <td data-ng-repeat="i in legalEstimates">
                        <button class="votebutton" ng-click="vote(i)">{{i}}</button>
                    </td>
                </tr>
            </table>
            </p>
        </div>

        <!--Results Screen-->
        <div ng-show="voted" style="margin-right: 0px">
            <table width="100%" cellpadding="20">
                <tr>
                    <td align="top">
                        <canvas id="bar" class="chart chart-bar" chart-data="[resultsdata]"
                                chart-labels="labels"></canvas>
                    </td>
                    <td align="right" valign="top">
                        <table cellpadding="8" class="usertbl">
                            <th>User</th>
                            <th>Estimate</th>
                            <tr ng-repeat="result in votingResults">
                                <td>{{result.userName}}</td>
                                <td>{{result.estimateValue}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-show="isAdmin">
                    <td>
                        <button class="nextbutton" ng-click="reset()" type="button">Next Estimate</button>
                    </td>
                </tr>
            </table>
            {{socketMsgs}}
        </div>
    </div>
</div>

</body>
</html>