* {
    font-family: sans-serif;
}

label.field {
    text-align: right;
    width: 200px;
    float: left;
    font-weight: bold;
}

.regusertbl th {
    min-width: 180px;
}

.regusertbl tr:nth-child(odd) {
    background-color: #EAF1F5;
}

.regusertbl td {
    /*text-align: center;*/
}

.usertbl th {
    min-width: 100px;
}

.usertbl tr:nth-child(odd) {
    background-color: #EAF1F5;
}

.usertbl td:nth-child(even) {
    text-align: center;
}

table th {
    background: #00004d;
    color: white;
}

table td {
    vertical-align: top;
}

input {
    width: 200px;
    float: left;
}

p {
    position: absolute;
    left: 20px;
}

.votebutton {
    width: 50px;
    height: 50px;
    font-size: large;
    text-align: center;
}

.nextbutton {
    width: 165px;
    height: 50px;
    font-size: large;
}

#top {
    background-color: #00004d;
    width: 100%;
    height: 70px;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}

header h1 {
    position: absolute;
    display: block;
    left: 20px;
    color: white;
    top: -25px;
    font-size: 50px;
    font-family: "Lobster", cursive;
    height: 100px;
    width: 610px;
}

nav {
    margin-top: 20px;
    font-weight: bold;
    float: right;
    padding: 0 20px;
    font-size: 16px;
    text-align: right;
    color: white;
}

