.navbar-default {
    border-width: 0px;
    border-radius: 0px;
}

.navbar-top {
    height: 53px;
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    font-family: "Lobster", cursive;
    color: white;
    font-size: 45px;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-header-text {
    font-size: 15px;
    color: white;
}

.navbar-collapse {
    border-top: 0px;
}

.collapse.in{
    background-color: #337ab7;
}

button.logout-btn {
    margin-top: -10px;
    font-size: 15px;
    color: white;
    border-width: 1px;
    border-radius: 5px;
    background-color: #337ab7;
}
